In [1]:
import time

In [2]:
start = time.time()

In [3]:
df = spark.read.load("hdfs://node1:9000/db_10G.csv",
                     format="csv", sep=",", inferSchema="true", header="true")

In [4]:
df.columns

['MSN', 'StateCode', 'Year', 'Data']

In [5]:
for c in df.columns:
    df.groupBy(c).count().show()

+-----+------+
|  MSN| count|
+-----+------+
|AVTXP|694200|
|KSCCD|555360|
|NGMPP|694200|
|ESCCP|694200|
|LGTCD|555360|
|P1ICD|555360|
|ESTXV|555360|
|ELEXP|694200|
|MGACB|694200|
|NGICP|694200|
|TNACB|694200|
|WDRCP|694200|
|SOHCB|694200|
|TNTXB|694200|
|CLOCB|694200|
|CLTXB|694200|
|ESRCB|694200|
|HYCCB|694200|
|PAACD|555360|
|JFTXB|694200|
+-----+------+
only showing top 20 rows

+---------+-------+
|StateCode|  count|
+---------+-------+
|       SC|7058412|
|       AZ|7058412|
|       LA|7058412|
|       MN|7058412|
|       NJ|7058412|
|       DC|7058412|
|       OR|7058412|
|       VA|7058412|
|       RI|7058412|
|       WY|7058412|
|       KY|7058412|
|       NH|7058412|
|       MI|7058412|
|       NV|7058412|
|       WI|7058412|
|       ID|7058412|
|       CA|7058412|
|       NE|7058412|
|       CT|7058412|
|       MT|7058412|
+---------+-------+
only showing top 20 rows

+----+-------+
|Year|  count|
+----+-------+
|1990|8100780|
|1975|8003592|
|1977|8031360|
|2003|8100780|
|2007|8100780|
|1974|8003592|
|2006|8100780|
|1978|8031360|
|1961|4420185|
|1988|8100780|
|1997|8100780|
|1994|8100780|
|1968|4420185|
|1973|8003592|
|1979|8031360|
|1971|8003592|
|1966|4420185|
|2004|8100780|
|1991|8100780|
|1967|4420185|
+----+-------+
only showing top 20 rows

+-------------+-----+
|         Data|count|
+-------------+-----+
| 210227.03774|  267|
| 173993.85025|  267|
|1834813.41911|  267|
| 706786.39613|  267|
| 585525.20705|  267|
| 508922.46659|  267|
|  95852.17296|  267|
|  94781.06517|  267|
| 175973.48371|  267|
| 219311.90072|  267|
| 250483.19866|  267|
| 703161.57762|  267|
|2947999.93058|  267|
| 355984.74295|  267|
|1039993.61725|  267|
|1738231.60363|  267|
| 875301.48703|  267|
|1020392.29449|  267|
|1099524.97277|  267|
| 274001.73484|  267|
+-------------+-----+
only showing top 20 rows

In [6]:
end = time.time()
print(f'elapsed {end - start} seconds')

elapsed 835.1099343299866 seconds