In [7]:
import time

In [8]:
start = time.time()

In [9]:
df = spark.read.load("hdfs://node1:9000/db_5G.csv",
                     format="csv", sep=",", inferSchema="true", header="true")

In [10]:
df.columns

['MSN', 'StateCode', 'Year', 'Data']

In [11]:
for c in df.columns:
    df.groupBy(c).count().show()

+-----+------+
|  MSN| count|
+-----+------+
|AVTXP|348400|
|KSCCD|278720|
|NGMPP|348400|
|ESCCP|348400|
|LGTCD|278720|
|ESTXV|278720|
|P1ICD|278720|
|ELEXP|348400|
|MGACB|348400|
|NGICP|348400|
|TNACB|348400|
|WDRCP|348400|
|SOHCB|348400|
|TNTXB|348400|
|HYCCB|348400|
|PAACD|278720|
|CLOCB|348400|
|CLTXB|348400|
|ESRCB|348400|
|JFTXB|348400|
+-----+------+
only showing top 20 rows

+---------+-------+
|StateCode|  count|
+---------+-------+
|       AZ|3542424|
|       SC|3542424|
|       LA|3542424|
|       MN|3542424|
|       NJ|3542424|
|       DC|3542424|
|       OR|3542424|
|       VA|3542424|
|       RI|3542424|
|       WY|3542424|
|       KY|3542424|
|       NH|3542424|
|       MI|3542424|
|       NV|3542424|
|       WI|3542424|
|       ID|3542424|
|       CA|3542424|
|       CT|3542424|
|       NE|3542424|
|       MT|3542424|
+---------+-------+
only showing top 20 rows

+----+-------+
|Year|  count|
+----+-------+
|1990|4065560|
|1975|4016784|
|1977|4030720|
|2003|4065560|
|2007|4065560|
|1974|4016784|
|2006|4065560|
|1978|4030720|
|1961|2218370|
|1988|4065560|
|1997|4065560|
|1994|4065560|
|1968|2218370|
|1973|4016784|
|1979|4030720|
|1971|4016784|
|1966|2218370|
|2004|4065560|
|1991|4065560|
|1967|2218370|
+----+-------+
only showing top 20 rows

+-------------+-----+
|         Data|count|
+-------------+-----+
| 210227.03774|  134|
| 173993.85025|  134|
|1834813.41911|  134|
| 706786.39613|  134|
| 585525.20705|  134|
| 508922.46659|  134|
|  95852.17296|  134|
|  94781.06517|  134|
| 175973.48371|  134|
| 219311.90072|  134|
| 250483.19866|  134|
| 703161.57762|  134|
|2947999.93058|  134|
| 355984.74295|  134|
|1039993.61725|  134|
|1738231.60363|  134|
| 875301.48703|  134|
|1020392.29449|  134|
|1099524.97277|  134|
| 274001.73484|  134|
+-------------+-----+
only showing top 20 rows

In [12]:
end = time.time()
print(f'elapsed {end - start} seconds')

elapsed 184.1848566532135 seconds