In [1]:
import time

In [2]:
start = time.time()

In [3]:
df = spark.read.load("hdfs://node1:9000/db_50G.csv",
                     format="csv", sep=",", inferSchema="true", header="true")

In [4]:
df.columns

['MSN', 'StateCode', 'Year', 'Data']

In [5]:
for c in df.columns:
    df.groupBy(c).count().show()

+-----+-------+
|  MSN|  count|
+-----+-------+
|AVTXP|3460600|
|KSCCD|2768480|
|NGMPP|3460600|
|ESCCP|3460600|
|LGTCD|2768480|
|ESTXV|2768480|
|P1ICD|2768480|
|ELEXP|3460600|
|WDRCP|3460600|
|MGACB|3460600|
|NGICP|3460600|
|TNACB|3460600|
|SOHCB|3460600|
|TNTXB|3460600|
|PAACD|2768480|
|CLOCB|3460600|
|CLTXB|3460600|
|ESRCB|3460600|
|HYCCB|3460600|
|CLOCV|2768480|
+-----+-------+
only showing top 20 rows

+---------+--------+
|StateCode|   count|
+---------+--------+
|       AZ|35186316|
|       SC|35186316|
|       LA|35186316|
|       MN|35186316|
|       NJ|35186316|
|       DC|35186316|
|       OR|35186316|
|       VA|35186316|
|       RI|35186316|
|       KY|35186316|
|       WY|35186316|
|       NH|35186316|
|       MI|35186316|
|       NV|35186316|
|       WI|35186316|
|       ID|35186316|
|       CA|35186316|
|       NE|35186316|
|       CT|35186316|
|       MT|35186316|
+---------+--------+
only showing top 20 rows

+----+--------+
|Year|   count|
+----+--------+
|1990|40382540|
|1975|39898056|
|1977|40036480|
|2003|40382540|
|2007|40382540|
|1974|39898056|
|2006|40382540|
|1978|40036480|
|1961|22034705|
|1988|40382540|
|1997|40382540|
|1994|40382540|
|1968|22034705|
|1973|39898056|
|1979|40036480|
|1971|39898056|
|1966|22034705|
|2004|40382540|
|1991|40382540|
|1967|22034705|
+----+--------+
only showing top 20 rows

+-------------+-----+
|         Data|count|
+-------------+-----+
| 210227.03774| 1331|
| 173993.85025| 1331|
|1834813.41911| 1331|
| 706786.39613| 1331|
| 585525.20705| 1331|
| 508922.46659| 1331|
|  95852.17296| 1331|
|  94781.06517| 1331|
| 175973.48371| 1331|
| 219311.90072| 1331|
| 250483.19866| 1331|
| 703161.57762| 1331|
|2947999.93058| 1331|
| 355984.74295| 1331|
|1039993.61725| 1331|
|1738231.60363| 1331|
| 875301.48703| 1331|
|1020392.29449| 1331|
|1099524.97277| 1331|
| 274001.73484| 1331|
+-------------+-----+
only showing top 20 rows

In [6]:
end = time.time()
print(f'elapsed {end - start} seconds')

elapsed 1714.3713977336884 seconds