In [1]:
import time

In [2]:
start = time.time()

In [3]:
df = spark.read.load("hdfs://node1:9000/db_10G.csv",
                     format="csv", sep=",", inferSchema="true", header="true")

In [4]:
df.columns

['MSN', 'StateCode', 'Year', 'Data']

In [5]:
for c in df.columns:
    df.groupBy(c).count().show()

+-----+------+
|  MSN| count|
+-----+------+
|AVTXP|694200|
|KSCCD|555360|
|NGMPP|694200|
|LGTCD|555360|
|ESCCP|694200|
|ESTXV|555360|
|P1ICD|555360|
|ELEXP|694200|
|WDRCP|694200|
|MGACB|694200|
|NGICP|694200|
|TNACB|694200|
|SOHCB|694200|
|TNTXB|694200|
|HYCCB|694200|
|PAACD|555360|
|CLOCB|694200|
|CLTXB|694200|
|ESRCB|694200|
|CLOCV|555360|
+-----+------+
only showing top 20 rows

+---------+-------+
|StateCode|  count|
+---------+-------+
|       AZ|7058412|
|       SC|7058412|
|       LA|7058412|
|       MN|7058412|
|       NJ|7058412|
|       DC|7058412|
|       OR|7058412|
|       VA|7058412|
|       RI|7058412|
|       WY|7058412|
|       KY|7058412|
|       NH|7058412|
|       MI|7058412|
|       NV|7058412|
|       WI|7058412|
|       ID|7058412|
|       CA|7058412|
|       CT|7058412|
|       NE|7058412|
|       MT|7058412|
+---------+-------+
only showing top 20 rows

+----+-------+
|Year|  count|
+----+-------+
|1990|8100780|
|1975|8003592|
|1977|8031360|
|2003|8100780|
|2007|8100780|
|1974|8003592|
|2006|8100780|
|1978|8031360|
|1961|4420185|
|1988|8100780|
|1997|8100780|
|1994|8100780|
|1968|4420185|
|1973|8003592|
|1979|8031360|
|1971|8003592|
|1966|4420185|
|2004|8100780|
|1991|8100780|
|1967|4420185|
+----+-------+
only showing top 20 rows

+------------+-----+
|        Data|count|
+------------+-----+
|  3892.64107|  267|
| 52259.37286|  534|
|  4550.61354|  267|
|  59713.5643|  534|
| 14521.24366|  534|
| 15244.19896|  534|
| 62289.47021|  534|
|167503.50852|  267|
| 65234.21545|  534|
| 51317.08914|  534|
|  2382.01133|  534|
|  5263.53822|  267|
| 28237.92883|  534|
|  23886.4799|  267|
|   565.91052|  534|
| 51653.14173|  267|
| 14600.16851|  267|
|134977.64423|  534|
|165190.44786|  267|
| 35044.89716|  801|
+------------+-----+
only showing top 20 rows

In [6]:
end = time.time()
print(f'elapsed {end - start} seconds')

elapsed 384.40448904037476 seconds