In [1]:
sc

In [2]:
df = spark.read.load("hdfs://node1:9000/db_10G.csv",
                     format="csv", sep=",", inferSchema="true", header="true")

In [3]:
df.columns

['MSN', 'StateCode', 'Year', 'Data']

In [5]:
while True:
    for c in df.columns:
        df.groupBy(c).count().show()

+-----+------+
|  MSN| count|
+-----+------+
|AVTXP|694200|
|KSCCD|555360|
|NGMPP|694200|
|LGTCD|555360|
|ESCCP|694200|
|P1ICD|555360|
|ESTXV|555360|
|ELEXP|694200|
|MGACB|694200|
|NGICP|694200|
|TNACB|694200|
|WDRCP|694200|
|SOHCB|694200|
|TNTXB|694200|
|CLOCB|694200|
|CLTXB|694200|
|ESRCB|694200|
|HYCCB|694200|
|PAACD|555360|
|CLOCV|555360|
+-----+------+
only showing top 20 rows

+---------+-------+
|StateCode|  count|
+---------+-------+
|       SC|7058412|
|       AZ|7058412|
|       LA|7058412|
|       MN|7058412|
|       NJ|7058412|
|       DC|7058412|
|       OR|7058412|
|       VA|7058412|
|       RI|7058412|
|       KY|7058412|
|       WY|7058412|
|       NH|7058412|
|       MI|7058412|
|       NV|7058412|
|       WI|7058412|
|       ID|7058412|
|       CA|7058412|
|       CT|7058412|
|       NE|7058412|
|       MT|7058412|
+---------+-------+
only showing top 20 rows

+----+-------+
|Year|  count|
+----+-------+
|1990|8100780|
|1975|8003592|
|1977|8031360|
|2003|8100780|
|2007|8100780|
|1974|8003592|
|2006|8100780|
|1978|8031360|
|1961|4420185|
|1988|8100780|
|1997|8100780|
|1994|8100780|
|1968|4420185|
|1973|8003592|
|1979|8031360|
|1971|8003592|
|1966|4420185|
|2004|8100780|
|1991|8100780|
|1967|4420185|
+----+-------+
only showing top 20 rows

+-----------+-----+
|       Data|count|
+-----------+-----+
|  304.33438|  267|
|    5.61731|  534|
|    0.16187|  534|
|   -1.84507|  267|
|    0.48543|  267|
|14807.23422|  801|
| 3560.28036|  801|
|49484.42293|  801|
|18863.28715|  801|
|17349.40181|  801|
| 1679.52362|  801|
|41210.88468|  801|
|33880.44513|  801|
|13981.42039|  801|
|10425.25806|  801|
|    2.57449|  801|
|    5.66062|  801|
|    5.43579|  801|
|   10.44963|  801|
|    0.83115|  801|
+-----------+-----+
only showing top 20 rows